html, body {
    margin: 0;
    padding: 0;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
    padding-bottom: 45px;
    width: 15%;
    
}

.searchBox {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    height: 40px;
    border: 1px lightgrey solid;
    border-radius: 20px;
    
}

.searchBox:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}

input {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    width: 460px;
    height: 30px;
    position: relative;
    bottom: 5px;
    border: none;
}

.magnify {
    padding-top: 10px;
    padding-left: 12px;
    width: 20px;
}

.center {
    margin: auto;
    text-align: center;
}

.searchButton{
    font-family: arial, sans-serif;
    font-size: 12pt;
    text-align: center;
    background-color: #f8f9fa;
    margin-top: 30px;
    margin-right: 10px;
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 5px;
}

.mic {
    padding-top: 10px;
    padding-left: 10px;
    width: 13px;
}

.searchButton:hover {
    border: 1px solid rgb(211, 210, 210);
}

.language {
    padding-top: 25px;
    font-family: arial, sans-serif;
    font-size: 10pt;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 8px 0px 0px 0px;
    overflow: hidden;
}

li {
    float: left;
    
}

li a {
    display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    font-family: arial, sans-serif;
    color: black;
}

.apps {
    width: 20px;
    height: 20px;
    position: relative;
    bottom: 2px;
    

}

.icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    bottom: 7px;
}

.country {
    text-decoration: none;
    background-color: rgb(235, 235, 235);
    border-top: 1px solid lightgrey;
    position: absolute;
    bottom: 2.5rem;
    width: 100%;
    height: 2.5rem;
}

.footerList {
    text-decoration: none;
    background-color: rgb(235, 235, 235);
    border-top: 1px solid lightgrey;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 2.5rem;
}

.footer {
    color: #70757a;
}



